:root {
  --background: linear-gradient(135deg, #0000007e 0%, #00000098 100%);
  --color-primary: black;
  --color-secondary: #212f3d;
  --boton-padding: 20px 40px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

h3,h1,h2{
  text-shadow: 0px 0px 2px cyan;
  letter-spacing: 0.5px;
}

main {
  background-color: rgb(234, 236, 238);
  justify-items: center;
}

.container {
  width: 90%;
  margin: o auto;
  overflow: hidden;
  padding: 80px 0px;
  max-width: 1200px;
  margin: 0 50px;
}

.subtitle {
  color: var(--color-primary);
  font-size: 2.5rem;
  margin-bottom: 35px;
  text-shadow: 0px 0px 5px white;
}

.header {
  height: 100vh;
  background-image: var(--background),
    url(https://fotografias.antena3.com/clipping/cmsimages02/2022/08/25/B661900F-DEE7-4105-A96E-719BA1780FE2/programador_98.jpg?crop=1920,1080,x0,y170&width=1900&height=1069&optimize=low&format=webply);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  justify-items: center;
}

nav {
  display: inline-block;
  justify-content: flex-end;
  height: 70px;
  align-items: center;
  font-weight: 700;
}

.nav--footer {
  font-weight: 300;
  justify-content: flex-start;
}

.nav__items {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px 20px;
  font-weight: inherit;
  background-color: var(--color-secondary);
  box-shadow: 0px 0px 15px white;
  border-radius: 5px;
}

.nav__items:hover {
  color: black;
  transition: 0.3s;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 15px cyan;
  border-radius: 20px;
  text-shadow: 0px 0px 2px black;
}

.nav__items--footer {
  padding: 10px;
}

.header__container {
  display: flex;
  height: calc(100vh - 70px);
  align-items: center;
  color: rgb(250, 250, 250);
}

.header__texts {
  width: 80%;
  margin-bottom: 50px;
  line-height: 1.5;
}

.header__subtitle {
  font-weight: 900;
  display: inline;
  color: white;
  padding-right: 80px;
}

.header__cta {
  display: inline-block;
  background: aliceblue;
  padding: var(--boton-padding);
  color: var(--color-primary);
  text-decoration: none;
  border-radius: 40px;
}

.header__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.presentation {
  text-align: center;
  padding-top: 0;
}

.presentation__picture {
  width: 170px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
  object-position: top;
  border: solid 3px black;
}

.presentation__copy {
  width: 80%;
  margin: auto;
  line-height: 1.5;
  font-size: 20px;
}

.presentation__cta {
  display: inline-block;
  margin-top: 30px;
  background: var(--color-primary);
  color: aliceblue;
  text-decoration: none;
  padding: var(--boton-padding);
  border-radius: 40px;
}

.about {
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 80px;
  justify-items: center;
  align-items: center;
}

.about__img {
  text-align: center;
  animation: move 2s infinite alternate;
}

.about__picture {
  border-radius: 10px;
  box-shadow: 2px 4px 15px black;
  border: solid 3px black;
}

.projects {
  border-radius: 30px;
  background-color: rgb(210, 220, 230);
  box-shadow: 0px 0px 5px black;
  width: 80%;
  justify-items: center;
  margin-bottom: 50px;
}

.projects__grid {
  display: grid;
  height: 500px;
  grid-template-areas:
    "img1 img2 img3 img4 img5"
    "img1 img2 img3 img4 img5";
  gap: 10px;
}

.projects__item {
  position: relative;
  width: 98%;
  overflow: hidden;
  border-radius: 20px;
  border: 3px solid black;
}

.projects__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.projects__item:nth-of-type(1) {
  grid-area: img1;
}

.projects__item:nth-of-type(2) {
  grid-area: img2;
}

.projects__item:nth-of-type(3) {
  grid-area: img3;
}

.projects__item:nth-of-type(4) {
  grid-area: img4;
}

.projects__item:nth-of-type(5) {
  grid-area: img5;
}

.projects__hover {
  position: absolute;
  background: #dc143c8c;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
  cursor: pointer;
  transition: transform.5s ease-in-out;
}

@keyframes move {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.projects__item:hover .projects__hover {
  transform: translateX(0%);
}

.projects__icon {
  margin-top: 10px;
  font-size: 30px;
}

.about__img--left {
  text-align: left;
}

.about__picture {
  max-width: 80%;
}

.about__paragraph {
  margin-bottom: 20px;
  line-height: 1.5;
  width: 80%;
  font-size: 18px;
}
.footer {
  background: var(--color-primary);
  justify-items: center;
}

.footer_grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  align-items: center;
}

.footer__title {
  font-weight: 400;
  color: aliceblue;
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.footer__icons {
  display: flex;
  justify-content: space-evenly;
}

footer__container-icons {
  display: inline-block;
  width: 60px;
  height: 60px;
  color: aliceblue;
  text-align: center;
  border: 1px solid aliceblue;
  border-radius: 50%;
}

.footer__icon {
  color: rgb(255, 255, 255);
  font-size: 70px;
  text-decoration: none;
}

.fab.footer__icon {
  line-height: 60px;
}

.testimony__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.testimony__item {
  width: 94%;
  margin: auto;
  background: var(--color-secondary);
  box-shadow: 0 8px 10px rgb(66, 66, 66, 0.5);
  border-radius: 7px;
  padding: 30px 25px;
  color: aliceblue;
  margin-bottom: 50px;
}

.testimony__person {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.testimony__img {
  width: 100px;
  min-width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  border: 3px solid #f2f2f2;
  margin-right: 30px;
}

.testimony__name {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.testimony__verification {
  color: #e0afa0;
  font-weight: 700;
}

.testimony__review {
  font-weight: 300;
}

.footer {
  background: var(--color-secondary);
}

.footer_grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  align-items: center;
}

.footer__title {
  font-weight: 400;
  color: aliceblue;
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.footer__icons {
  display: flex;
  justify-content: space-evenly;
}

footer__container-icons {
  display: inline-block;
  width: 60px;
  height: 60px;
  color: aliceblue;
  text-align: center;
  border: 1px solid aliceblue;
  border-radius: 50%;
}

.footer__icon {
  color: rgb(255, 255, 255);
  font-size: 70px;
  text-decoration: none;
}

.fab.footer__icon {
  line-height: 60px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.copy {
  text-align: center;
  padding-top: 50px;
}

#botonArriba {
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 20px;
  position: fixed;
  bottom: 50px;
  right: 20px;
  cursor: pointer;
  display: none;
  animation: move 2s infinite alternate;
}








@media screen and (max-width: 700px) {
  .container {
    margin: 0 10px; /* Reducir margen */
    padding: 40px 0; /* Reducir padding */
  }

  .header__container {
    flex-direction: column; /* Apilar elementos verticalmente */
    height: auto; /* Permitir que la altura se ajuste */
  }

  .testimony__container{
    padding-left: 20px;
  }

  .header__texts {
    width: 100%; /* Ancho completo en pantallas más pequeñas */
    margin-bottom: 20px; /* Reducir margen inferior */
  }

  .subtitle {
    font-size: 1.5rem; /* Reducir tamaño de fuente */
  }

  nav{
    flex-direction: column;
    top: 30px;
    left: 10px;
    position: relative;
  }

  .nav__items {
    margin-right: 8px; /* Eliminar margen derecho */
  }

  .presentation__picture {
    width: 150px; /* Imagen de perfil más pequeña */
  }

  .about {
    grid-template-columns: 1fr; /* Apilar elementos en una columna */
  }
  
  .projects__item{
    width: 80%;
    margin: 5px;
  }

  .footer_grid {
    grid-template-columns: 1fr; /* Apilar elementos del pie de página */
  }

  .testimony__grid {
    grid-template-columns: 1fr; /* Apilar testimonios */
  }
  .testimony__name{
    font-size: larger;
  }

  .testimony__verification{
    font-size: medium;
  }

  .testimony__review{
    font-size: small;
  }

  .testimony__item{
    width: 80%;
  }

  #botonArriba {
    padding: 15px; /* Ajustar tamaño del botón */
    bottom: 20px; /* Ajustar posición */
    right: 10px; /* Ajustar posición */
  }
  .projects__grid {
    display: grid;
    grid-template-areas:
      "img1 img2"
      "img3 img4"
      "img5 img6" 
      "img7 img8"
      "img9 img10"
      ;
    gap: 0px;
  }

  .footer__icon {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-decoration: none;
  }
  .presentation__copy, .about__paragraph{
    font-size: small;
  }

  .header__texts{
    font-size: small;
    top: 65px;
    position: relative;
  }

  #principio{
    height: 600px;
  }
}    