body{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgb(255, 0, 0) -50%, rgba(0,0,0) 100%);
}

#appBg{
    height: 510px;
    width: 300px;
    border-radius: 5px;
    padding: 10% 0 0 40%;
}

#appBg form{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 0 20px 20px 20px;
    border-radius: 30px;
    border: 5px solid white;
}

#appBg input[type=textfield]{
    height: 25%;
    width: 90%;
    cursor: default;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    color: white;
    padding: 15px;
    text-align: right;
    font-size: 50px;
    border: 0;
    outline: none;
    background-color: rgb(184, 184, 184);
    border: 3px solid white;
    border-radius: 30px;
    margin: 20px 0 20px 0;
}

#appBg input[type=button], input[type=reset]{
    width: 22%;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 26px;
    color: black;
    padding: 18px;
    margin: 3px;
    border: 0;
    border-radius: 10px;
    border: 3px solid gray;
}

#appBg .red{
    background-color: rgb(177, 1, 1);
    color: white;
}

#appBg .gray{
    background-color: white;
    color: white;
}

#appBg input:hover{
    background-color: red;
    transition: 0.1s;
    color: white;
    border: 3px solid white;
}